.sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: margin-left .3s ease-in-out, left .3s ease-in-out, margin-right .3s ease-in-out, right .3s ease-in-out;
    background: transparent;
    border-right: 0;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .05);
    z-index: 1;
}

.sidebar-brand,
.sidebar-brand:hover {
    padding: 1rem;
    background: #153d77;
    font-size: 1.175rem;
    font-weight: 500;
    color: #fff;
    width: 100%;
    display: block;
    text-decoration: none;
}

.sidebar-item:hover {
    background-color: rgba(201, 201, 201, 0.5);
}

.aktif {
    background-color: rgba(201, 201, 201, 0.5);
}

.sidebar-user {
    padding: 1.5rem 1rem 1rem;
    background: #fff;
    color: #153d77;
    text-align: center;
    align-self: center;
}

.sidebar-user img {
    width: 64px;
    height: 64px;

}

.mb-2,
.my-2 {
    margin-bottom: .5rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.img-fluid,
.img-thumbnail {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    /* height: auto; */
}

img,
svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

/* .font-weight-bold {
    font-weight: 500!important;
} */
/* .small, small {
    font-size: 80%;
    font-weight: 400;
} */


.sidebar-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    background: #fff;
}

.sidebar-header {
    background: transparent;
    color: #adb5bd;
    padding: .375rem 1.5rem;
    font-size: .75rem;
    font-weight: 500;
    text-transform: none;
}

.sidebar-content {
    background: #fff;
    transition: margin-left .3s ease-in-out, left .3s ease-in-out, margin-right .3s ease-in-out, right .3s ease-in-out;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.sidebar [data-toggle=collapse] {
    position: relative;
}

.sidebar-link,
a.sidebar-link {
    display: block;
    padding: .65rem .75rem;
    margin: 0 .5rem;
    color: #6c757d;
    font-weight: 400;
    background: transparent;
    border-radius: .2rem;
    transition: background .1s ease-in-out;
    /* position: relative; */
    text-decoration: none;
    cursor: pointer;
}

.sidebar [data-toggle=collapse]:before {
    content: " ";
    border: solid;
    border-width: 0 .1rem .1rem 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(-45deg);
    position: absolute;
    top: 1.2rem;
    right: 1.25rem;
    transition: all .2s ease-out;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sidebar.toggled {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: margin-left .3s ease-in-out, left .3s ease-in-out, margin-right .3s ease-in-out, right .3s ease-in-out;
    background: transparent;
    border-right: 0;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .05);
    z-index: 1;
}


/* #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
} */

/* a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

/* ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
} */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    /* width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s; */
    width: 100%;
    min-height: 100vh;
    min-width: 0;
    transition: margin-left .3s ease-in-out, left .3s ease-in-out, margin-right .3s ease-in-out, right .3s ease-in-out;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}
